<h1>Hello</h1>

<p>I'm Ved Topkar, a senior at Harvard College studying Chemical and Physical Biology with a minor in Computer Science. I am deeply interested in genome editing (especially its potential therapeutic applications), bioinformatics, entrepreneurship, and computer science education.</p>

<p>I currently work at the <a href="http://jounglab.org" target="_blank">Joung Lab</a> in MGH, Charlestown, MA. A summary of my current and past research can be found at the <a href="/research">research</a> page, and information about the published papers that I have coauthored can be found at the <a href="/publications">publications</a> page.</p>

<p>I previously co-founded and co-exited the education technology company <a href="http://keystone.education">Keystone Learning Systems</a>. A writeup of our story from founding to acquisition can be found <a href="https://medium.com/startup-secrets/send-off-announcement-exiting-our-tech-startup-66e865871ec3">here</a>.</p>

<!-- <p>For more information about me, visit the <a href="/about">About</a> page.</p> -->

<p>If you are interested in chatting, connecting, or collaborating, feel free to <a href="/contact">contact me</a>.</p>