<h1>Hello</h1>

<p>I'm Ved Topkar, a third year MD/PhD student at Stanford Medical School interested in RNA biology, entrepreneurship, and computer science education.</p>

<p>Currently, I work as a Biophysics PhD student in the <a href="daslab.stanford.edu">Das Lab</a>. A summary of my current and previous research experiences can be found at the <a href="/research">research</a> and <a href="/publications">publications</a> pages.</p>

<p>In the past, I was involved with <a href="http://beacongenomics.com">Beacon Genomics</a>, a genome editing specificity and safety company spun out of the <a href="http://jounglab.org">Joung Lab</a>. Before that, I co-founded and co-exited the education technology company <a href="https://medium.com/startup-secrets/send-off-announcement-exiting-our-tech-startup-66e865871ec3">Keystone Learning Systems</a>.

<p>If you are interested in connecting or collaborating, feel free to <a href="/contact">contact me</a>.</p>