<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

  <meta name="author" content="Ved Topkar">
  <meta name="description" content="I'm Ved Topkar, a first year MD/PhD student at Stanford Medical School. I graduated from Harvard College with a major in Chemical and Physical Biology and a minor in Computer Science. I am interested in biomedical research, entrepreneurship, and computer science education.">
  <meta name="keywords" content="Ved Topkar, Topkar, science, CRISPR, cas9, genome editing, Stanford, Harvard, Colorado, Boulder, Cambridge, Boston, Fairview, programming, bioinformatics, computational biology, , Python, Javascript, Node js, data science, Ved, Lafayette">
  <meta name="robots" content="index, follow">

  <link rel="dns-prefetch" href="http://fonts.googleapis.com">

  <link rel="publisher" href="//google.com/+VedTopkar">

  <title><%= title %></title>

  <link rel="shortcut icon" href="../favicon.png">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600">

  <link rel="stylesheet" href="/css/main.css">

  <link rel="" href="fonts.googleapis.com">
</head>