<nav class="nav">
    <ul class="nav-group">
        <li class="nav-item <% if(current.path[0] == "index") { %>active<% } %>"><a href="/">About</a></li>
        <li class="nav-item <% if(current.path[0] == "projects") { %>active<% } %>"><a href="/projects">Projects</a></li>
        <li class="nav-item <% if(current.path[0] == "research") { %>active<% } %>" ><a href="/research">Research</a></li>
        <li class="nav-item <% if(current.path[0] == "publications") { %>active<% } %>"><a href="/publications">Publications</a></li>
    </ul>
    <ul class="nav-group">
        <li class="nav-item <% if(current.path[0] == "blog") { %>active<% } %>"><a href="/blog">Blog</a></li>
        <li class="nav-item <% if(current.path[0] == "contact") { %>active<% } %>" ><a href="/contact">Contact</a></li>
    </ul>
</nav>
