<% if(typeof published==='undefined' || published!==false) { %>

  <main class="main">

      <article class="article">
          <h1><%= title %></h1>

          <%- yield %>
      </article>

      <% include ../_includes/comments %>

  </main>

  <nav class="subnav">

    <%- partial("../_includes/article-nav") %>

  </nav>

<% } else { %>

  <% include ../404 %>

<% } %>
