<h1>Research</h1>

Under construction.

<!-- <ul class="publications">
  <% for(var slug in public.research._data){ %>
    <li class="publications">
      <% var research = public.research._data[slug] %>
        <p class="publication-title"><%= research.title %></p>
        <p class=""><%= research.description %></p>
        <% if(research.image){ %><img src="../img/research/<%= research.image %>.png" alt="<% research.title %> showcase" /><% } %>
    </li>
  <% } %>
</ul> -->
